body{
    background-color: darkorange;
    color: white;
    margin-top: 25px;
}
.header{
    font-family: 'Pacifico', cursive;
    font-size: 45px;
}
.h3{
    font-family: 'Averia Serif Libre', cursive;
    font-size: 40px;
}
.form-control{
    width: 500px;
    height: 30px;
    border-radius: 30px;
    border-color: white;   
}
.buttons{
   background-color: maroon;
   color: white;
   font-size: 20px;
   font-family: 'Delius Swash Caps', cursive;
}